@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FarmerTracker!</h1>
    <p>At FarmerTracker, our mission is to empower farmers and revolutionize the way they manage and showcase their products. Our platform serves as a comprehensive solution, allowing farmers to efficiently track and display the types of products they produce. Whether you're a farmer looking to streamline your operations or showcase your offerings to a wider audience, FarmerTracker is here to support you every step of the way.</p>
</div>
<br />
<br/>
<div class="row row-cols-1  g-1">
    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Farmers!</div>
        <div class="card-body">
            <h4 class="card-title">For Farmers:</h4>
            <p class="card-text">Are you a dedicated farmer seeking a powerful tool to manage your farm and products? Join our platform and gain access to a suite of features designed to simplify your workflow. FarmerTracker enables you to easily input and organize details about the products you cultivate. From crop types and livestock breeds to quantities and specific certifications, you have full control over how you present your offerings. Our user-friendly interface makes it effortless to update your inventory, track availability, and communicate with potential buyers. Get ready to take your farming business to new heights!</p>
        </div>  
    </div>


    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Collaboration</div>
        <div class="card-body">
            <h4 class="card-title">Collaboration Made Easy:</h4>
            <p class="card-text"> At FarmerTracker, we understand the importance of collaboration within the farming community. Our platform facilitates seamless connections between farmers, allowing you to exchange knowledge, share insights, and collaborate on various initiatives. Connect with like-minded farmers, join discussion groups, and participate in industry forums to stay up-to-date with the latest trends and best practices. Together, we can foster a supportive and thriving farming ecosystem</p>
        </div>
    </div>
 <img src="https://img.freepik.com/premium-vector/farm-land-scenery-landscape-with-farmer-farming-village-with-modern-flat-style_25147-1234.jpg?w=2000" alt="test">
       
</div>