@model FarmerTracker.Models.User

@{
    ViewData["Title"] = "Login";
}


<!--<br>
<h1>Log In</h1>
<br>
<h4>Enter Details</h4>
<hr />
<div class="row">-->
<script>
    $(document).ready(function () {
        $("#Login").modal('show');
    });
</script>

               
@* <div class="modal" id="Login">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
             <div class="modal-header">
                <h5 class="modal-title">Login</h5>
             </div> *@
<div class="modal fade" id="Login" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Login</h5>
                <a type="button" class="btn-close" asp-area="" asp-controller="Home" asp-action="Index" aria-label="Close"  data-dismiss="modal"></a>
            </div>
        <div class="modal-body">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-100 text-danger">
                        <label class="text-danger">@ViewBag.Notification</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-floating mb-3">
                        <input asp-for="FullName" class="form-control" placeholder="FullName" />
                        <label asp-for="FullName"></label>
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-floating mb-3">
                        <input asp-for="UserPassword" class="form-control" placeholder="UserPassword" />
                        <label asp-for="UserPassword"></label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Log In" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal" />
                </div>            
            </form>
        </div>
    
</div>

<script>
jQuery(document).ready(function(e) {
    $('#Login').on('hidden.bs.modal', function () {
      window.location.href = "login.php"
    })
});
</script>
```

