<!DOCTYPE html>
<html lang="en">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FarmerTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FarmerTracker.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Solar.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FarmerTracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between navbar-light">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.GetString("FullName") != null)
                        {
                            if(Context.Session.GetString("Farmer").Equals("Yes"))
                            {
                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Farmers" asp-action="Profile">Home</a>
                                </li>
                            }
                            if(Context.Session.GetString("Farmer").Equals("No"))
                            {
                                <li class="nav-item">    
                                <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Home">Home</a>
                                </li>
                            }
                        }
                        
                        else    
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }
                      
                        
                    </ul>

                      <ul class="navbar-nav" style=" float:right; !important">
                        @if (Context.Session.GetString("FullName") != null)
                        {
                            <li class="nav-item active">
                                <a class="nav-link text-dark"> @Context.Session.GetString("FullName")</a>
                            </li>
                            <br/>
                            <br/>
                            <li class="nav-item">
                                <a class="btn btn-secondary"  asp-area=" " asp-controller="Home" asp-action="Logout">Log Out</a>
                            </li> 
                            
                        }
                        else
                        {
                            <li class="nav-item ">
                                <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Login">Log In</a>
                            </li>
                            
                           
                        }
                      </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
